@font-face {
  font-family: "Bebas Neue";
  src: url('../fonts/Bebas_Neue/BebasNeue-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Chakra Petch";
  src: url('../fonts/Chakra_Petch/ChakraPetch-Regular.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Press Start 2P';
  src: url('../fonts/Press_Start_2P/PressStart2P-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/*@font-face {
  src: url('../fuentes/Sometype_Mono/SometypeMono-VariableFont_wght.ttf') format('truetype');
  font-family: "Sometype Mono";
  font-weight: 700;
  font-style: normal;
}*/

:root {
  --letra_titulos: "Bebas Neue";
  --letra_base: "Chakra Petch", serif;
  --letra_header: "Sometype Mono", sans-serif;
  --letra_final_juego: 'Press Start 2P', cursive;
  --color_decorativo: #f0463a;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scrollbar-width: thin;
  scrollbar-color: #888888 #f1f1f1;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888888;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555555;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  height: 100%;
  max-width: 100%;
  overflow-x: hidden;
  font-family: var(--letra_base);
  color: white;
}

.fondo-main {
  display: none;
  justify-content: center;
  align-items: center;
  background-color: black;
  background-image: 
      linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url('../imgs/imgFondo.jpg'); 
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh;
}

.contenido {
  position: relative;
  width: 100%;
}

img {
  max-width: 100%;
}

@media (max-width: 480px) {
  .fondo-main {
      background-position: 40% center;
  }
}